div.an-data-table_container table.an-data-table_table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
  position: relative;
}

div.an-data-table_container table.an-data-table_table tr.an-data-table_row-invisible {
  display: none;
}

div.an-data-table_container table.an-data-table_table > thead {
  background-color: #cccccc;
  border-bottom: 3px solid #9e9e9e;
}

div.an-data-table_container table.an-data-table_table > thead > tr > th {
  padding: 8px;
  line-height: 1.428571429;
  border: 1px solid #ddd;
  border-bottom-width: 2px;
  border-top: 0;
}

div.an-data-table_container table.an-data-table_table > tbody > tr > td {
  padding: 8px;
  line-height: 1.428571429;
  border: 1px solid #ddd;
}

div.an-data-table_container table.an-data-table_table > tbody > tr[data-level="1"] {
  border-left: 6px solid #0F75BC;
}
div.an-data-table_container table.an-data-table_table > tbody > tr[data-level="2"] {
  border-left: 6px solid #0F75BC;
}
div.an-data-table_container table.an-data-table_table > tbody > tr[data-level="2"]:before {
  border-left: 4px solid #42A8EF;
  position: absolute;
  height: 2.5rem;
  left: -1px;
  content: "";
}
div.an-data-table_container table.an-data-table_table > tbody > tr[data-level="3"] {
  border-left: 6px solid #0F75BC;
}
div.an-data-table_container table.an-data-table_table > tbody > tr[data-level="3"]:before {
  border-left: 4px solid #42A8EF;
  position: absolute;
  height: 2.5rem;
  left: -1px;
  content: "";
}
div.an-data-table_container table.an-data-table_table > tbody > tr[data-level="3"]:after {
  border-left: 2px solid #75DBFF;
  position: absolute;
  height: 2.5rem;
  left: 1px;
  content: "";
}

div.an-data-table_container table.an-data-table_table > tbody > tr.odd {
  background-color: #f9f9f9;
}

div.an-data-table_container table.an-data-table_table > tbody > tr:hover {
  background-color: #f5f5f5;
}

div.an-data-table_container .an-data-table_search-div {
  margin-bottom: 10px;
  text-align: right;
}

div.an-data-table_container .an-data-table_search-div .an-data-table_search-label {
  font-weight: bold;
}
